{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Kursens redovisningstexter</h1>

    <div class="side">
        <ul>
            <li><a href="/report#kmom01">Kmom01</a></li>
            <li><a href="/report#kmom02">Kmom02</a></li>
            <li><a href="/report#kmom03">Kmom03</a></li>
            <li><a href="/report#kmom04">Kmom04</a></li>
            <li><a href="/report#kmom05">Kmom05</a></li>
            <li><a href="/report#kmom06">Kmom06</a></li>
            <li><a href="/report#kmom07">Kmom07</a></li>
        </ul>
    </div>

    <div id="kmom01">
        <h2>Kmom01:</h2>
        <p>När det kommer till objektorientering så har jag tagit en kort delkurs på objektorienterad programmering med python, samt objektorienterad programmering med python på bth. Sedan så har jag försökt mig på att göra några spel i gamemaker, vilket är objektorienterat. Det ska bli spännande att lära sig mer och jag personligen tycker än så länge att objektorienterad programmering känns väldigt tilltalande och något som jag vill bli bra på.</p>
        <p>Objekt skapas från klasser. En klass är som en ritning som man kan initiera objekt ifrån. I klassen så står det vad för egenskaper som en instans av den klassen kommer ha, samt vilka metoder(funktioner) som den kommer kunna använda. Klasser har unika namn och skapas med nyckelordet 'class'. Objektinstanser av en klass kan ha andra namn än klassen och skapas med nyckelordet 'new' följt av namnet på den klass som objektet ska vara en instans av. Objektet anropas sedan med sitt namn och pilfunktion(->) till de metoder som finns tillgängliga för dess klass. I klasser så finns publika och privata egenskaper och metoder vilket innebär att publika värden och metode kan kommas åt utifrån objektet medan privata värden kan endast kommas åt inifrån objektet. I regel så bör alla egenskaper och metoder vara privata om de inte ska vara publika av en särskild anledning, som t.ex. att metoden ska anropas på objektet direkt och inte är en funktion inom objektet.</p>
        <p>Kodbasen, koden och strukturen i symfony känns ganska begriplig. Det är väldigt mycket och många delar jag inte helt förstår, samt på vissa platser så känns det som att det är mappar som har liknande namn vilket var lite förvirrande (assets/controllers och src/controller). Som vanligt så är det mycket att bita i såhär i början av en delkurs men det känns som att detta kommer vara enklare att förstå mig på än databaser.</p>
        <p>I ärlighetens namn så har jag inte gjort mycket mer med PHP The Right Way än att läsa igenom alla rubriker och skumläsa de områden som direkt fångade mitt intresse, vilket var lite om code style guide, templating och namespaces samt hur man dokumenterar sin kod. Jag kommer definitivt använda dokumentet i framtiden.</p>
        <p>TIL hu jag programmerar objektorienterat i php, samt hur jag kan använda symfony ramverk för att bygga en hemsida. Även lite baskunskaper om namespaces.</p>
    </div>

    <div id="kmom02">
        <h2>Kmom02:</h2>
        <p>Här är redovisningstexten för Kmom02...</p>
    </div>

    <div id="kmom03">
        <h2>Kmom03:</h2>
        <p>Här är redovisningstexten för Kmom03...</p>
    </div>

    <div id="kmom04">
        <h2>Kmom04:</h2>
        <p>Här är redovisningstexten för Kmom04...</p>
    </div>

    <div id="kmom05">
        <h2>Kmom05:</h2>
        <p>Här är redovisningstexten för Kmom05...</p>
    </div>

    <div id="kmom06">
        <h2>Kmom06:</h2>
        <p>Här är redovisningstexten för Kmom06...</p>
    </div>

    <div id="kmom07">
        <h2>Kmom07:</h2>
        <p>Här är redovisningstexten för Kmom07...</p>
    </div>
{% endblock %}