{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <a href="https://github.com/dbwebb-se/mvc/">
        Kursens Githubrepo
        <img src="{{ asset('img/github.png')}}" alt="En representativ bild.">
    </a>
    <a href="https://github.com/showgun666/MVC">
        Min egna Githubrepo
        <img src="{{ asset('img/github.png')}}" alt="En representativ bild.">
    </a>
    <p>Kursen MVC (Model-View-Controller) handlar om programmering i webbmiljö med fokus på att skapa dynamiska webbapplikationer.</p>
    <p>Kursen innefattar syntax och semantik för att koppla applikationen mot databaser och att använda datastrukturer och inbyggda funktioner.</p>
    <p>Objektorienterad programmering i PHP används för att strukturera och återanvända kod och enkla designmönster tillämpas.</p>
    <p>Kursen inkluderar också användning av SQL med en databas tillsammans med PHP Data Objects.</p>
    <p>Utveckling av webbapplikationer i ett ramverk integrerar tekniker som webbserver (Apache), PHP, HTML, CSS och SQL.</p>
    <p>Dessutom inkluderar kursen verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, såsom UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter som PHPMyAdmin, MySQL Workbench och kommandoklienter.</p>
{% endblock %}