{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <a href="{{ asset('img/mvc.jpg')}}">
        <img class="image-medium" src="{{ asset('img/mvc.jpg')}}" alt="En representativ bild för kursen.">
    </a>
    <a href="https://github.com/dbwebb-se/mvc/">
        <img class="image-small" src="{{ asset('img/github.png')}}" alt="Github Logo.">
        Kursens Githubrepo(Som även går att klicka på)
    </a>
    <a href="https://github.com/showgun666/MVC">
        <img class="image-small" src="{{ asset('img/github.png')}}" alt="Github Logo.">
        Min egna Githubrepo(Som också den går att klicka på)
    </a>
    <p>Kursen MVC handlar om programmering i webbmiljö med fokus på att skapa dynamiska webbapplikationer.</p>
    <p>Kursen innefattar syntax och semantik för att koppla applikationen mot databaser och att använda datastrukturer och inbyggda funktioner.</p>
    <p>Objektorienterad programmering i PHP används för att strukturera och återanvända kod och enkla designmönster tillämpas.</p>
    <p>Kursen inkluderar också användning av SQL med en databas tillsammans med PHP Data Objects.</p>
    <p>Utveckling av webbapplikationer i ett ramverk integrerar tekniker som webbserver (Apache), PHP, HTML, CSS och SQL.</p>
    <p>Dessutom inkluderar kursen verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, såsom UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter som PHPMyAdmin, MySQL Workbench och kommandoklienter.</p>
{% endblock %}