{% extends 'base.html.twig' %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>About Mej!</h1>
    <a class="image-medium" href="{{ asset('img/anonym.jpg') }}">
        <img src="{{ asset('img/anonym.jpg') }}" alt="Anonym bild">
    </a>
    <p>Hej! Mitt namn är Markus, jag är i skrivande stund 30 år gammal och går den här kursen för att jag vill förbättra mig själv.</p>
    <p>Jag tycker om att lära mig japanska, hänga med min fru, gå ut med vänner, programmera och träna.</p>
    <p>På senaste tiden så har jag väl fått en trettioårskris eller något för jag har fått för mig att det är viktigt att träna jättemycket helt plötsligt.</p>
    <p>Bilden är inte på mig utan på en tvivelaktig figur som agerar veterinär i en av skaparen av Sagan om Ringenfilmernas regissörs tidigare filmer.</p>
{% endblock %}