{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Kursens redovisningstexter</h1>
    <ul>
        <li><a href="/report#kmom01">Kmom01</a></li>
        <li><a href="/report#kmom02">Kmom02</a></li>
        <li><a href="/report#kmom03">Kmom03</a></li>
    </ul>

    <div id="kmom01">
        <h2>Kmom01:</h2>
        <p>Här är redovisningstexten för Kmom01...</p>
    </div>

    <div id="kmom02">
        <h2>Kmom02:</h2>
        <p>Här är redovisningstexten för Kmom02...</p>
    </div>

    <div id="kmom03">
        <h2>Kmom03:</h2>
        <p>Här är redovisningstexten för Kmom03...</p>
    </div>

    <div id="kmom04">
        <h2>Kmom04:</h2>
        <p>Här är redovisningstexten för Kmom04...</p>
    </div>

    <div id="kmom05">
        <h2>Kmom05:</h2>
        <p>Här är redovisningstexten för Kmom05...</p>
    </div>

    <div id="kmom06">
        <h2>Kmom06:</h2>
        <p>Här är redovisningstexten för Kmom06...</p>
    </div>

    <div id="kmom07">
        <h2>Kmom07:</h2>
        <p>Här är redovisningstexten för Kmom07...</p>
    </div>
{% endblock %}